HOST peknas
  Hostname nas.peknight.com
  Port 22
  User admin
  IdentityFile ~/.ssh/id_rsa

HOST peknasint
  Hostname pek-nas
  Port 22
  User admin
  IdentityFile ~/.ssh/id_rsa

HOST peknasv4
  Hostname nas.v4.peknight.com
  Port 22
  User admin
  IdentityFile ~/.ssh/id_rsa

HOST peknasv6
  Hostname nas.v6.peknight.com
  Port 22
  User admin
  IdentityFile ~/.ssh/id_rsa

HOST peknasfrp
  Hostname pub.peknight.com
  Port 31011
  User admin
  IdentityFile ~/.ssh/id_rsa

HOST pekctrl
  Hostname ctrl.peknight.com
  Port 8612
  User pek
  IdentityFile ~/.ssh/id_rsa

HOST peknyc
  Hostname nyc00.server.peknight.com
  Port 8612
  User pek
  IdentityFile ~/.ssh/id_rsa

HOST pekpc
  Hostname home.peknight.com
  Port 8612
  User pek
  IdentityFile ~/.ssh/id_rsa

HOST pekpcint
  Hostname pek-pc
  Port 8612
  User pek
  IdentityFile ~/.ssh/id_rsa

HOST pekpcv4
  Hostname home.v4.peknight.com
  Port 8612
  User pek
  IdentityFile ~/.ssh/id_rsa

HOST pekpcv6
  Hostname home.v6.peknight.com
  Port 8612
  User pek
  IdentityFile ~/.ssh/id_rsa

HOST git.peknight.com
  HostKeyAlgorithms=+ssh-rsa
  PubkeyAcceptedAlgorithms +ssh-rsa
