HOST pekcenter
  Hostname center.peknight.com
  Port 8612
  User pek
  IdentityFile ~/.ssh/id_rsa

HOST pekoversea
  Hostname oversea.peknight.com
  Port 8612
  User pek
  IdentityFile ~/.ssh/id_rsa

HOST peknas
  Hostname nas.peknight.com
  Port 22
  User admin
  IdentityFile ~/.ssh/id_rsa

HOST peknasint
  Hostname pek-nas
  Port 22
  User admin
  IdentityFile ~/.ssh/id_rsa

HOST pekpc
  Hostname home.peknight.com
  Port 8612
  User pek
  IdentityFile ~/.ssh/id_rsa

HOST pekpcint
  Hostname pek-pc
  Port 8612
  User pek
  IdentityFile ~/.ssh/id_rsa

Host github.com
  Hostname github.com
  Port 22
  User git
  IdentityFile ~/.ssh/id_rsa

HOST git.peknight.com
  Port 2222
  HostKeyAlgorithms=+ssh-rsa
  PubkeyAcceptedAlgorithms +ssh-rsa

HOST peklowriskint
  Hostname pek-lowrisk
  Port 8612
  User pek
  IdentityFile ~/.ssh/id_rsa

HOST peklowriskmac
  Hostname pek-lowrisk-mac
  Port 8612
  User pek
  IdentityFile ~/.ssh/id_rsa

HOST peklowriskfrp
  Hostname ctrl.peknight.com
  Port 31061
  User pek
  IdentityFile ~/.ssh/id_rsa

HOST lowriskprod
  Hostname 192.168.5.45
  Port 22
  User root
  IdentityFile ~/.ssh/id_rsa

HOST lowriskrcms
  Hostname 192.168.5.245
  Port 22
  User root
  IdentityFile ~/.ssh/id_rsa

HOST lowrisktest
  Hostname 192.168.1.173
  Port 22
  User root
  IdentityFile ~/.ssh/id_rsa

HOST lowrisktestold
  Hostname 192.168.5.40
  Port 22
  User root
  IdentityFile ~/.ssh/id_rsa

HOST lowriskpre
  Hostname 192.168.5.24
  Port 22
  User root
  IdentityFile ~/.ssh/id_rsa

HOST lowriskskywalking
  Hostname 192.168.5.41
  Port 22
  User root
  IdentityFile ~/.ssh/id_rsa
