[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
character-set-server = utf8mb4
init_connect = 'SET NAMES utf8mb4'

default-time-zone = '+8:00' 

# 大小写敏感
lower_case_table_names = 0
